<!doctype html>
<html lang="en" ng-app="phonecatApp">

  <head>
    <meta charset="utf-8">
    <title>learning Angular</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <p>Hello, {{name}}!</p>

  <body ng-controller="PhoneListController">
    <ul>
      <li ng-repeat="phone in phones"> <span>{{phone.name}}</span>
        <p>{{phone.snippet}}</p>
      </li>
    </ul>
    <p>Total number of phones: {{phones.length}}</p>
    <table>
      <tr>
        <th>Row number</th>
      </tr>
      <tr ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7]">
        <td>{{i}}</td>
      </tr>
    </table>
    <table>
      <tr>
        <th>Row number</th>
      </tr>
      <tr ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7]">
        <td>{{i+1}}</td>
      </tr>
    </table>
  </body>

</html>
